body, textarea { font: 13px/1.5 "Helvetica Arial", sans-serif; }
body { background-color: #FFF; color: #444; padding: 45px 0 10px 0; margin: 0; }

body > header { -webkit-box-shadow: #999999, 0px, 4px, 8px; -moz-box-shadow: #999999, 0px, 4px, 8px; box-shadow: #999999, 0px, 4px, 8px; background-color: #444; overflow: hidden; *zoom: 1; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #323232), color-stop(100%, #000000)); background: -webkit-linear-gradient(#323232, #000000); background: -moz-linear-gradient(#323232, #000000); background: -o-linear-gradient(#323232, #000000); background: -ms-linear-gradient(#323232, #000000); background: linear-gradient(#323232, #000000); border-top: 1px solid black; height: 45px; left: 0; padding: 0; position: fixed; top: 0; width: 100%; z-index: 1000; }
body > header > .container { margin: 0 auto; max-width: 900px; }
body > header > .container > a { float: left; border-right: 1px solid black; padding: 7.5px 20px 7.5px 0; }
body > header nav a { color: #cccccc; display: block; float: left; font-family: "Helvetica Neue", sans-serif; font-size: 12px; font-weight: bold; line-height: 45px; margin: 0 10px; text-decoration: none; text-shadow: black, 0px, 1px, 1px; }
body > header nav a:hover { color: white; text-decoration: none; }

article aside { border-left: 1px solid #dfdfdf; float: right; margin: 0 0 15px 20px; padding: 0 0 0 20px; }

.text { -webkit-box-shadow: #cccccc, 0px, 0px, 10px; -moz-box-shadow: #cccccc, 0px, 0px, 10px; box-shadow: #cccccc, 0px, 0px, 10px; overflow: hidden; *zoom: 1; background-color: #f0f0f0; color: #444; margin: 0 auto; max-width: 840px; padding: 30px; margin-bottom:30px;}
.text a { color: #0066aa; text-shadow: #f0f0f0, 1px, 1px, 0px; }
.text a:hover { color: #0099ff; }
.text p { margin: 5px 0; }
.text strong { font-weight: 700; }
.text pre code, .text .example { display: inline-block; padding: 15px; border: 1px solid #eeeeee; margin: 10px 0; background-color: #fefefe; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
